---
import { getCollection } from 'astro:content';
import { InspirationController } from '../../components/Inspiration/InspirationController';

const inspirations = await getCollection('inspirations');
---

<div class="w-full h-screen relative bg-bg-base overflow-hidden">
  <InspirationController inspirations={inspirations} client:only="react" />
</div>
