---
import { getCollection } from 'astro:content';
import { InspirationController } from '../../components/Inspiration/InspirationController';

const inspirations = await getCollection('inspirations');
---

<div class="w-full relative bg-bg-base">
  <InspirationController inspirations={inspirations} client:only="react" />
</div>
