---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HomeModule from "../../modules/Home/index.astro";

const pageTitle = "Whisper | A Digital Monologue";
const pageDescription = "A quiet container for digital shadows and intentional growth.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main>
    <HomeModule />
  </main>
</BaseLayout>
